# Ignore certain R files 
.Rhistory
.Rproj.user/
# We are using .Rds for saving data so we can safely ignore .RData 
.RData

# Ignore Mac related files
.DS_Store

# Ignore the folder with all the original (large) shapefiles:
/01_Data_raw/shapefiles
